/* Generic Selectors */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #333333;
    background-color: #e9e9e9;
    /* background-color: #00005a; */
    /* background: url(/images/beautiful-girl-smiling.jpg) no-repeat center center fixed; */
    background-size: cover;
    margin: 0px;
}

p {
    width: 80%;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    /*text-align: center;*/
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid #C6EC8C;
}

input {
    box-sizing: margin-box;
}
/**************** Pseudo classes ****************/

a:link {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}

li :link {
    color: #00CC00;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #f7eded;
    text-decoration: underline;
    font-weight: bold;
}

li a:visited {
    color: #8b34cc;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(255, 48, 193);
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}

li a:hover {
    display: block;
    color: rgb(0, 96, 255);
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C6EC8C;
}

a:active {
    color: rgb(255, 0, 102);
    font-weight: bold;
}

/************************* ID's *************************/

#navigation {
    position: absolute;
    padding: 0px 7px;
    width: 265px;
    height: 600px;
    /*border-right: 1px solid #C6EC8C;*/
    font-weight: normal;
    /*background-color: #3b1480;*/
    /*border-radius: 20px;*/
    background: url(/images/background.jpg) repeat center center fixed;
}

#centerDoc {
    position: absolute;
    padding: 0px 10px;
    margin-top: 0px;
    margin-left: 280px;
    /*border: 2px solid black;*/
    /*border-radius: 40px 15px;*/
    width: 77%;
    height: 600px;
    color: black;
    /*background-color: #3b1480;*/
    background: linear-gradient(0deg,darkgray,lightgray);
}

#userName{
    color: white;
    /* text-decoration: underline; */
    font-size: 35px;
    text-align: center;
    border-bottom: 3px solid white;
    width: 100%;
}

/*.inlineDiv{*/
    /*width: 170px;*/
    /*display: inline-block;*/
    /*background-color: black;*/
    /*margin: 8px;*/
    /*padding: 5px;*/
    /*height: 190px;*/
    /*vertical-align: top;*/
    /*border-radius: 15px;*/

/*}*/

.link{
    background-color: #666666;
    border-radius: 5px;
}

a p{
    height: 25px;
    width: auto;
    padding: 5px;
    color: #ffffff;
    margin: 0px;
    border-radius: 5px;
    text-transform: uppercase;
    padding-left: 18px;
    font-size: 14px;
}

a p:hover {
    color: rgb(255, 48, 193);
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
    background-color: white;
    opacity: 0.5;
}
#topPoints{
    align-self: center;
    font-size: x-large;
    width: 700px;
    text-align: center;

}
th, td {
    border-bottom: 1px solid #ffffff;
    width: 233px;
}
#header{
    background-color: #3b1480;
    width: 100%;
    height: 70px;
}
.heading{
    font-size: large;
    align-content: center;
    margin-left: 0%;
    width: auto;
    text-decoration: underline;
}
/*#footer{*/
    /*background-color: #33b5e5;*/
    /*width: 100%;*/
    /*height: 50px;*/
/*}*/